

{% extends "todoapp/base.html" %}
{% block title %}
    ABOUT PAGE
{% endblock %}

{% block content %}
<div class="text-center"
  <div class="jumbotron">
  <h1 class="display-4"><center>TO DO LIST!</h1></center>
  <p class="lead">This is a to do list for Python Django development.</p>
  <hr class="my-4">
  <p>Add new things to do in TO DO List.</p>
  <p>Add new things to do in TO DO List.</p>
  <p>Add new things to do in TO DO List.</p>
  <p>Add new things to do in TO DO List.</p>
  <p>Add new things to do in TO DO List.</p>
        <p>Add new things to do in TO DO List.</p>


  <p class="lead">

    <a class="btn btn-primary btn-lg" href="#" role="button">Create a new TO DO</a>

  </p>
</div>
  </div>
{% endblock content %}